* {
  box-sizing: content-box;
  font-family: 'Work Sans';
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: saddlebrown;
  padding: 25px;
}


#task {
  width: 80%;
  background-color:  #95dfd1;
  border: 2px solid saddlebrown;
  border-radius: 30px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
  margin: 30px auto 30px;
}

#nav {
  display: inline-flex;
  }

#modalDialogue {
  background: #F1EAD0;
  border-radius: 16px;
  outline-color: saddlebrown;
  outline-style: solid;
  outline-width: 2px;
}

#addTaskbutton {
  color: saddlebrown;
  text-align: center;
  align-content: center;
  background-color: #FC8B24;
  width: 100px;
  height: 50px;
  border: 2px solid saddlebrown;
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

#deleteButton {
  width: 25%;
  height:25px;
  color: white;
  border-radius: 15px;
  background-color: crimson;
  outline-color: saddlebrown;
  outline-style: solid;
  outline-width: 2px;
  float: right;
}

#editButton {
  width: 25%;
  height:25px;
  border-radius: 15px;
  background-color: #F1EAD0;
  color: saddlebrown;
  outline-color: saddlebrown;
  outline-style: solid;
  outline-width: 2px;
  float: left;
}
#markDoneButton{
  width: 25%;
  height:25px;
  border-radius: 15px;
  background-color: rgb(102, 167, 134);
  outline-color: saddlebrown;
  outline-style: solid;
  outline-width: 2px;
  color: white;
  margin-left: 50px;
}

#doneButton {
  width: 20%;
  border-radius: 15px;
  background-color: #FC8B24;
  outline-color: saddlebrown;
  outline-style: solid;
  outline-width: 2px;
  color: white
}

#toDoButton {
  width: 20%;
  border-radius: 15px; 
  background-color: pink; 
  outline-color: saddlebrown;
  outline-style: solid;
  outline-width: 2px;
  color: saddlebrown; 

}

#reviewButton {
  width: 20%;
  border-radius: 15px;
  background-color: #F1DD97;
  outline-color: saddlebrown;
  outline-style: solid;
  outline-width: 2px;
  color: saddlebrown;

}

#inProgressButton {
  width: 20%;
  border-radius: 15px;
  outline-color: saddlebrown;
  background-color: #A3B877;
  outline-style: solid;
  outline-width: 2px;
  color: white;

}

 .card-body{ 
  background-color: #95dfd1;;
  color: saddlebrown; 
  
}

#dateheader {
  font-size: x-large;
  background-color: #F1EAD0;
}

#resetButton {
  float: left;
  border-radius: 15px;
  outline-color: saddlebrown;
  outline-style: solid;
  outline-width: 2px;
  color: saddlebrown;
}

#submitButton {
  float: right;
  border-radius: 15px;
  outline-color: saddlebrown;
  outline-style: solid;
  outline-width: 2px;
  color: saddlebrown;
}

#staticBackdrop {
  outline-color: saddlebrown;
  outline-style: solid;
  outline-width: 2px;
  color: #fc7124;
}

