*{
  box-sizing: content-box;
}
h1{
  font-family:Verdana, Geneva, Tahoma, sans-serif; color: #583205;  
}     

#tasks{
    background-color: #F1EAD0";
    text-align: center;
}
nav{
    display: inline-flex;
}
#modalDialogue{
  background: #F1EAD0;
  border-radius: 16px;
  outline-style: inset;
  outline-color: #583205;
  outline-width: 2px;
}
#addTaskbutton{
  color: #583205;
  text-align: center;
  align-content: center;
  background-color: #FC8B24;
  width: 100px;
  height: 50px;
  border: 2px solid #583205;
  border-radius: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  font-size: large;  
}
.palePinkbutton{      
    color: black;
    text-align: center;
    align-content: center;
    background-color: #F3979750;
    width: 120px;
    height: 50px;
    border: 2px solid #583205;
    Font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: large;
    border-radius: 20px;
  }
  a{
    display: inline;
  } 
  .pinkbutton{
    color: black;
    text-align: center;
    align-content: center;
    background-color: #F39797;
    width: 120px;
    height: 50px;
    border: 2px solid #583205;
    Font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: large;
    border-radius: 20px;    
  }
#date{
    font-size: x-large;       
}
.list-group-item{
    margin: 15px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 20px, solid, #583205;
    background-color: #69D3C0;
}
#resetButton{
    float: left;
    border-radius: 15%;
    border: 2px, solid,#583205;
}
#submitButton{
    float: right;
    border-radius: 15%;
    border: 2px, solid,#583205;
}
#staticBackdrop{
    border: 15px, solid, #583205;
}
h5{
    text-align: center;
    color: #fc7124;
}
#tasksList{
    height: fit-content;
}
